<!DOCTYPE html>
<html>
    <head>
      <title>File Dependencies | Github</title>
      <script src="/javascripts/javascript.js"></script>
</head>
<body>           
  <button onclick="fetch('youtube.com')">Click</button>

</body>
</html>