<!DOCTYPE html>
<html>
    <head>
      <title>YT CODER</title>
      <script src="/javascripts/javascript.js"></script>
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>           
  <button onclick="fetch('youtube.com')">Click</button>

</body>
</html>